In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time, os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [13]:
# This will create a list of URL to be scraped

my_url = "https://www.nass.usda.gov/Quick_Stats/Ag_Overview/stateOverview.php?state="

states_list=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","NEW%20HAMPSHIRE","NEW%20MEXICO","New%20York",
  "North%20Carolina","North%20Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "South%20Carolina","South%20Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","WEST%20VIRGINIA","Wisconsin","Wyoming"]

year_list_num= [*range(2000,2021,1)]
years_list= [str(x) for (x) in year_list_num]

# This the list of url
url_list=[]
for state in states_list:
    my_query = my_url + state
    for year in years_list:
        new_url = my_query +'&year=' + year
        url_list.append(new_url)

In [10]:
def get_value(url):
    driver.get(url)
    dic={}
    x= driver.find_element_by_xpath('/html/body/div/div[1]').text
    State= x.strip()
    Area_Operated= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[1]/tbody/tr[1]/td[2]").text
    Num_of_Operations= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[1]/tbody/tr[2]/td[2]").text
    Acres_Operated= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[1]/tbody/tr[3]/td[2]").text
    Cows_Beef= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[2]/tbody/tr[1]/td[2]").text
    Cows_Milk = driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[2]/tbody/tr[2]/td[2]").text
    Calves= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[2]/tbody/tr[3]/td[2]").text
    Milk_Per_head= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[3]/tbody/tr[1]/td[2]").text
    Milk_production= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[3]/tbody/tr[3]/td[2]").text
    
    dic={'State':State,'Area_Operated':Area_Operated, 'Num_of_Operations':Num_of_Operations,
            'Acres_Operated':Acres_Operated, 'Cows_for_Milk': Cows_Milk, 'Cows_Beef': Cows_Beef,'Calves':Calves ,'Milk_Per_head':Milk_Per_head,
                 'Total_Milk_production':Milk_production }

    return dic

In [12]:
get_value('https://www.nass.usda.gov/Quick_Stats/Ag_Overview/stateOverview.php?state=NEW%20HAMPSHIRE&year=2002')

{'State': 'New Hampshire',
 'Area_Operated': '132',
 'Num_of_Operations': '3,400',
 'Acres_Operated': '450,000',
 'Cows_for_Milk': '17,000',
 'Cows_Beef': '4,000',
 'Calves': '40,000',
 'Milk_Per_head': '18,222',
 'Total_Milk_production': '328,000,000'}

In [5]:

chromedriver = "/Users/naifalzahrani/Downloads/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [8]:
driver = webdriver.Chrome(chromedriver)
# driver.get('https://www.nass.usda.gov/Quick_Stats/Ag_Overview/stateOverview.php?state=iowa&year=2017')

In [14]:
from selenium.common.exceptions import NoSuchElementException

data = []
url_list
for page in url_list:
  try:
    time.sleep(1)
    data.append(get_value(page))
    
  except NoSuchElementException:
    # Just append a None or ""
    data.append(None)

In [15]:
# removing the none values
new_data=[x for x in data if x is not None]

In [19]:
df.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State                  983 non-null    object
 1   Area_Operated          983 non-null    object
 2   Num_of_Operations      983 non-null    object
 3   Acres_Operated         983 non-null    object
 4   Cows_for_Milk          983 non-null    object
 5   Cows_Beef              983 non-null    object
 6   Calves                 983 non-null    object
 7   Milk_Per_head          983 non-null    object
 8   Total_Milk_production  983 non-null    object
dtypes: object(9)
memory usage: 69.2+ KB

In [21]:
df= pd.DataFrame(new_data)
df.to_excel('Milk_production_4.xlsx')

In [ ]:
# def get_values(url):
#     driver.get(url)
#     tablelist=[]
    x= driver.find_element_by_xpath('/html/body/div/div[1]').text
    State= x.strip()
#     Area_Operated= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[1]/tbody/tr[1]/td[2]").text
#     Num_of_Operations= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[1]/tbody/tr[2]/td[2]").text
#     Acres_Operated= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[1]/tbody/tr[3]/td[2]").text
#     Cows_Beef= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[2]/tbody/tr[1]/td[2]").text
#     Cows_Milk = driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[2]/tbody/tr[2]/td[2]").text
#     Calves= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[2]/tbody/tr[3]/td[2]").text
#     Milk_Per_head= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[3]/tbody/tr[1]/td[2]").text
#     Milk_production= driver.find_element_by_xpath("/html/body/div/div[3]/div[1]/table[3]/tbody/tr[3]/td[2]").text
    
#     farms_table={'State':State,'Area_Operated':Area_Operated, 'Num_of_Operations':Num_of_Operations,
#             'Acres_Operated':Acres_Operated, 'Cows_for_Milk': Cows_Milk, 'Cows_Beef': Cows_Beef,'Calves':Calves ,'Milk_Per_head':Milk_Per_head,
#                  'Total_Milk_production':Milk_production }
#     tablelist.append(farms_table)
#     return tablelist

In [ ]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

sns.set()
mdf = pd.read_csv('Milk_production_2')

In [ ]:


num = 0
for i in mdf.columns:
   num += mdf[i][mdf[i]==0].count()
num

In [ ]:
# df = df.apply(pd.to_numeric) # convert all columns of DataFrame
# df['x']=df['x'].str.replace(',','')
c= mdf.columns
mdf[c] = mdf[c].replace(',', '', regex=True)

In [ ]:
mdf= mdf.apply(pd.to_numeric)

In [ ]:

m = LinearRegression()
m.fit(mdf[['Area_Operated','Num_of_Operations','Acres_Operated','Cows_for_Milk','Calves', 'Milk_Per_head']],mdf['Total_Milk_production'])
m.score(mdf[['Area_Operated','Num_of_Operations','Acres_Operated','Cows_for_Milk','Calves', 'Milk_Per_head']],mdf['Total_Milk_production'])

In [ ]:
mdf.tail(100)

In [ ]:
mdf.corr()

In [ ]:
sns.pairplot(mdf)